/**
 * Change global defaults for less ugly alternatives.
 */
* {
  font-family: "Source Sans Pro";
}
a {
  color: #0074D9;
  text-decoration: none;
}

/**
 * DuckDuckGo search bar.
 */
.search {
  align-items: center;
  background-color: lightgray;
  border: 4px solid lightgray;
  border-radius: 8px;
  box-sizing: border-box;
  color: slategray;
  display: flex;
  margin: 20px auto;
  width: 500px;
}

.search > img {
  max-width: 16px;
  max-height: 16px;
  padding-left: 8px;
}

.search > input {
  border: none;
  background-color: inherit;
  flex: 1;
  padding-left: 16px;
}

.search > button {
  background-color: royalblue;
  border: 5px solid royalblue;
  border-radius: 8px;
  color: #FFFFFF;
}

/**
 * Useful links.
 */
.links {
  display: flex;
  justify-content: center;
}

.links a {
  color: #111111;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 12px;
}

.dropdown {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  min-width: 100px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
  z-index: 1;

  background-color: #F9F9F9;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.1);
}

.dropdown-content a {
  color: #111111;
  padding: 3px 8px;
  font-size: 14px;
  font-weight: normal;
}

.dropdown-content a:hover {
  background-color: #F1F1F1;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

/**
 * Twitch streams.
 */
.twitch {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.twitch a {
  color: #6441A4;
}

.twitch-streams a {
  color: #0074D9;
  text-decoration: none;
}

/**
 * LCK standings table.
 */
.standings {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.standings th {
  padding-right: 10px;
  text-align: left;
}
