/**
 * DuckDuckGo search bar.
 */
#search {
  align-items: center;
  background-color: #DDDDDD;
  border: 5px solid #DDDDDD;
  border-radius: 8px;
  color: #111111;
  display: flex;
  margin: 20px auto;
  width: 512px;
}

#search img {
  max-width: 16px;
  max-height: 16px;
  padding-left: 8px;
}

#search-input {
  border: none;
  background-color: inherit;
  flex: 1;
  padding-left: 16px;
}

#search-button {
  background-color: #0074D9;
  border: 4px solid #0074D9;
  border-radius: 8px;
  color: #FFFFFF;
}


/**
 * Table of useful links.
 */
#links {
  height: 300px;
  margin: 50px auto;
  table-layout: fixed;
  width: 800px;
}

.cell {
  background-color: #222222;
  font-family: "Source Sans Pro", "DejaVu Sans", sans-serif;
  font-size: 22px;
  text-align: center;
}

.link {
  color: #FFFFFF;
  text-decoration: none;
}

/* TODO: remove this and use only .link */
.cell a { 
  color: #FFFFFF;
  text-decoration: none;
}

